.container {
  width: 50%;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 64px;
}

.logo-container {
  width: 320px;
  height: 100px;
  position: relative;
}
