@import "styles/variables";
.container {
  padding: $sp-xl $sp-xl * 2;
  section {
    margin-bottom: $sp-xl * 2;
  }
}
.user-playlists-wrapper {
  transition: all 0.5s ease;
}
.user-playlists-container {
  display: grid;
  grid-gap: $sp-xl;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-featured-container {
  display: flex;
  grid-gap: $sp-xl;
  flex-wrap: wrap;
}
