$primary: #1ed760;
$background-color: #191919;
$player-bg-color: #272626;

$font-dull: #a7a7a7;
$sp-xs: 6px;
$sp-sm: 8px;
$sp-md: 12px;
$sp-lg: 16px;
$sp-xl: 24px;
$sp-xxl: 36px;
$sp-xxxl: 48px;

$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

$laptop-res: 1376px;
$tablet-res: 976px;
$phone-xl: 576px;
$phone-xs: 400px;
