@import "styles/variables";
.skeleton-container {
  margin: 10% 0;
}
.container {
  
  display: flex;
  flex-direction: column;
  color: $font-dull;
  row-gap: 16px;
}

.playlist-item {
  transition: all 0.2s ease;

  font-size: $font-md;
  display: flex;
  align-items: center;
  padding-right:$sp-lg;
  justify-content: space-between;
  &:hover {
    color: #fff;
  }
}

.playlist-active {
  color:$primary;
}
