@import "styles/variables";
.container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 360px;
  background-color: #000;
}
.content-container {
  background-color: rgb(16, 133, 88, 0.3);
  flex: 1;
}

.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 $sp-xl;
  padding: $sp-xl;
}
