@import "styles/variables";
.container {
  display: flex;
  height: 100vh;
}

.sidebar-container {
  width: 300px;
  background-color: #000;
}
.content-container {
  background-color: rgba(0, 0, 0, 0.9);
  flex: 1;
  height:90vh;
  overflow-y: scroll;
}

.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 $sp-xl;
  padding: $sp-xl;
  height:10vh;
}
