@import "styles/variables";
.container {
  display: grid;
}
.page-container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 9fr;
  width:100vw;
  height:90vh;
}

.sidebar-container {
  background-color: #000;
}
.content-container {
  background-color: $background-color;
}

.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $sp-xl $sp-xl * 2;
  height: 8vh;
}

.page-content {
  height: 80vh;
  overflow-y: scroll;
}

.player-container {
  height: 10vh;
  background-color: #272626;
}
