@import "styles/variables";
.container {
  color: $font-dull;
}

.header {
  display: flex;
  padding-bottom: 8px;
  border-bottom: 0.2px solid rgba(179, 165, 165, 0.4);
  font-size: $font-md;
}
.tracks {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 16px 0;
}
.track {
  display: flex;
  cursor: pointer;
  font-size: $font-md;
  align-items: center;
  &:hover {
    background-color: rgba(179, 165, 165, 0.4);
  }
}

.track-name {
  font-weight: 500;
  color: #fff;
  font-size: $font-md;
}

.track-container {
  display: flex;
  flex-wrap: nowrap;

  column-gap: 16px;
  .track-title {
    display: flex;
    flex-direction: column;
  }
  .track-artists {
    color: #aaa;
    font-weight: 400;
    font-size: $font-md - 1;
  }
}

.track-album {
  font-size: $font-md - 0.5;
}

.item-1 {
  flex: 1;
  display: flex;
  align-items: center;
}

.item-2 {
  text-overflow: ellipsis;
  flex: 18;
}

.item-3 {
  flex: 13;
}

.item-4 {
  flex: 4;
}

.item-5 {
  flex: 4;
}
