@import "styles/variables";
.container {
  color: $font-dull;
}

.header {
  display: flex;
  border-bottom: 0.2px solid rgba(179, 165, 165, 0.4);
  font-size: $font-md;
  padding: $sp-lg;
}
.tracks {
  display: flex;
  flex-direction: column;
  padding: $sp-md;
}
.track {
  border-radius: $sp-xs / 2;
  display: flex;
  font-size: $font-md;
  align-items: center;
  padding: $sp-md $sp-lg;
  &:hover {
    background-color: rgba(179, 165, 165, 0.4);
  }
}

.track-name {
  font-weight: 500;
  color: #fff;
  font-size: $font-md;
}

.track-container {
  display: flex;
  flex-wrap: nowrap;
  transition: all 0.2s ease;

  column-gap: 16px;
  .track-title {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    // &:hover {
    //   text-decoration: underline;
    // }
  }
  .track-artists {
    color: #aaa;
    font-weight: 400;
    font-size: $font-md - 1;
    cursor: pointer;
    display: flex;
    column-gap: $sp-xs;
    flex-wrap: nowrap;
  }
}
.track-artist {
  &:hover {
    text-decoration: underline;
  }
}

.track-album {
  font-size: $font-md - 0.5;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.item-1 {
  flex: 1;
  display: flex;
  align-items: center;
}

.item-2 {
  text-overflow: ellipsis;
  flex: 18;
}

.item-3 {
  flex: 13;
}

.item-4 {
  flex: 2;
}

.item-5 {
  flex: 4;
}
