@import "styles/variables";
.container {
  display: inline-block;

}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  color: #000;
  left: $sp-md;
  position: absolute;
  font-size: $sp-xl;
  background-color: #fff;
}

.search-close-icon {
  font-size: $sp-xl;
  position: absolute;
  right: $sp-md;
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.search-input {
  background-color: #fff;
  padding: $sp-md $sp-xl * 2;
  width: 160px;
  border-radius: $sp-xl;
  color: #000;
  font-size: $font-md - 1;
  font-weight: 500;
  transition: all 0.2s ease;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
  }
}

.search-input-extended {
  width: 360px;
}
