@import "styles/variables";
.container {
  padding: $sp-xl 0;
  padding-left: $sp-xl;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: $sp-xxl;
  color: $font-dull;
}
.logo-container {
  position: relative;
  width: 130px;
  height: 40px;
}

.navlinks-container {
  display: flex;
  flex-direction: column;
  row-gap: $sp-lg;
  font-size: $font-md + 1;
  font-weight: bold;
}

.navlink-container,
.userlink-container {
  display: flex;
  align-items: center;
  column-gap: 18px;
  cursor: pointer;
  &:hover {
    color: #fff;
    transition: all 0.2s ease;
    .navlink-user-action-create-icon-container,
    .navlink-user-action-like-icon-container {
      opacity: 1;
    }
  }
}

.sidebar-divider {
  border: 0.2px solid rgba(54, 51, 51, 0.7);
}

.navlink-icon {
  font-size: 24px;
}

.navlink-link {
  font-weight: 500;
}

.navlink-user-action-create-icon-container {
  background-color: rgb(212, 201, 201);
  opacity: 0.8;
  padding: $sp-xs;
  border-radius: $sp-xs / 2;
  color: #000;
  transition: all 0.2s ease;
}

.navlink-user-action-like-icon-container {
  background: linear-gradient(130deg,  rgb(107, 71, 224) 36%, rgb(150, 132, 209) 71%, rgba(255,255,255,0.7) 100%);
  padding: $sp-xs;
  border-radius: $sp-xs / 2;
  transition: all 0.2s ease;
  opacity: 0.8;
  color: #fff;
}
