@import "styles/variables";
.container {
  padding:$sp-xl 0;
  padding-left: $sp-xl;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: $sp-xxl;
  color: $font-dull;
}
.logo-container {
  position: relative;
  width: 130px;
  height: 40px;
}

.navlinks-container {
  display: flex;
  flex-direction: column;
  row-gap: $sp-lg;
  font-size: $font-md + 1;
  font-weight: bold;
}

.navlink-container,
.userlink-container {
  display: flex;
  align-items: center;
  column-gap: 18px;
  cursor: pointer;
  &:hover {
    color: #fff;
    transition: all 0.2s ease;
  }
}

.sidebar-divider {
  border: 0.2px solid rgba(54, 51, 51, 0.7);
}

.navlink-icon {
  font-size: 24px;
}

.navlink-link {
  font-weight: 500;
}
