@import "styles/variables";
.container {
  height: 100%;
  display: flex;
  padding: $sp-lg * 1.2 $sp-xl;
  position: relative;
  justify-content: space-between;
}

.track-container {
  width: 25%;
}

.controls-container {
  display: flex;
  width: 50%;
  column-gap: $sp-xl;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.main-controls-container {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.volume-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.shuffle-icon,
.repeat-icon {
  color: #b1afaf;
  cursor: pointer;
}

.main-controls-icons {
  display: flex;
  column-gap: $sp-xl;
  align-items: center;
}

.main-controls-seekbar {
  width:100%;
}
.play-icon {
  font-size: $font-lg * 2.5;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.active-icon {
  color: $primary;
}
.prev-icon,
.next-icon {
  font-size: $font-lg * 2;
  transition: all 0.3s ease;
  color: #cfc8c8;
  &:hover {
    color: #fff;
  }
}

.track-info {
  display: flex;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  column-gap: $sp-lg;
  font-size: $font-md;
  width: 400px;
  span {
    font-weight: 300;
    font-size: $font-sm;
    color: #a7a7a7;
  }
}

.track-image-container {
  position: relative;
  width: 56px;
  height: 56px;
}
