@import "styles/variables";
.container {
  padding: $sp-xl $sp-xxl;
  section {
    padding-bottom: $sp-xxxl;
  }
}

.playlists-container,
.albums-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  row-gap: $sp-xxl;
  column-gap: $sp-md;
  justify-content: space-between;
}
