@import "styles/variables";
.header {
  font-weight: bold;
  font-size: $sp-xl;
  color: #fff;
  margin-bottom: $sp-xl;
  padding-bottom: $sp-lg;
  margin: 0;
}

.header-large {
  font-size: $sp-xl * 1.3;
}