@import "styles/variables";

.skeleton-header-container {
  margin-bottom: $sp-xxl;
}
.skeleton-container {
  padding: $sp-xl;
}

.container {
  background-color: $background-color;
}

.header {
  display: flex;
  column-gap: $sp-xxxl;
  color: #fff;
  margin-bottom: $sp-xl;
  background-color: #5038a0;
  padding: $sp-lg $sp-xxxl;
}

.image-container {
  width: 230px;
  height: 230px;
  position: relative;
  box-shadow: 1px 15px 27px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 15px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 15px 27px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  .heart-icon {
    font-size: $font-lg * 6;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: $sp-lg;
  h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 0;
  }
  h4 {
    font-weight: 500;
  }
}

.playlist-owner-container {
  display: flex;
  align-items: center;
  h6 {
    font-weight: 400;
  }
}

.content {
  height: 40vh;
  overflow-y: auto;
  padding: $sp-xxl $sp-xxxl;
//   background: linear-gradient(90deg, rgba(80,56,160,1) 0%, rgba(2,0,36,0.3617822128851541) 100%, rgba(0,212,255,1) 100%);
}
